/__pycache__/*
/LanguageModels/*
/wordVectors/*
/Figures/*
/COSYNEfig/*
/PrezFig/*
/figs (1)/*


/*ReLU*
/*SigModels*
/*shuffledModel1/*
/*13.4models/*

/*swapModel3.3/*
/*ICMLFigures/*


/*training_data/*

sbert_raw.pt