/__pycache__/*
/figs/*
/rev_figs/*
/COSYNE2022figs/*

/*models/_pretrained_state_dicts/*
/*paper_docs/*
/*scratch.py/*
/*update_data.py/*
/*model_checks.py/*
check_download.py

/*.sbatch*

/*models/*

*.pyc
*.pt
*_attrs
*hidden_reps
#*.sbatch
*decoder_perf*
scratch.py
instructRNN.egg-info
NN_rev/











