absl-py==0.8.0
alabaster==0.7.12
anaconda-client==1.9.0
anaconda-project==0.10.2
anyio==2.2.0
appdirs==1.4.4
argcomplete==1.12.3
argh==0.26.2
argon2-cffi==20.1.0
arrow==0.13.1
asn1crypto==1.4.0
astor==0.8.0
astroid==2.9.0
astropy==4.3.1
async-generator==1.10
atari-py==0.2.6
atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.5.6
Babel==2.9.1
backcall==0.2.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.10.0
binaryornot==0.4.4
bitarray==2.3.5
bkcharts==0.2
black==19.10b0
bleach==4.1.0
blis==0.4.1
bokeh==2.4.2
boto==2.49.0
boto3==1.18.21
botocore==1.21.41
Bottleneck==1.3.2
brotlipy==0.7.0
catalogue==1.0.0
certifi==2021.10.8
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.3
cloudpickle==2.0.0
clyent==1.2.2
cma==2.7.0
colorama==0.4.4
conda-pack==0.6.0
contextlib2==0.6.0.post1
cookiecutter==1.7.2
cryptography==36.0.0
cycler==0.11.0
cymem==2.0.5
Cython==0.29.25
cytoolz==0.11.0
dask==2021.10.0
dataclasses==0.6
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
diff-match-patch==20200713
dill==0.3.3
distributed==2021.10.0
docutils==0.17.1
dPCA==1.0.5
entrypoints==0.3
et-xmlfile==1.1.0
fastcache==1.1.0
filelock==3.4.0
flake8==3.9.0
Flask==1.1.2
fonttools==4.25.0
fse==0.1.15
fsspec==2021.10.1
future==0.17.1
gast==0.2.2
gensim==3.8.0
gevent==21.8.0
glob2==0.7
gmpy2==2.0.8
google-pasta==0.1.7
greenlet==1.1.1
grpcio==1.24.0
gym==0.18.0
h5py==2.10.0
HeapDict==1.0.1
html5lib==1.1
huggingface-hub==0.4.0
idna==3.3
imageio==2.9.0
imagesize==1.3.0
importlib-metadata==4.8.2
inflection==0.5.1
iniconfig==1.1.1
intervaltree==3.1.0
ipykernel==6.4.1
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.9.3
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.17.2
jeepney==0.7.1
Jinja2==2.11.3
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.1.0
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyter-server==1.4.1
jupyterlab==3.2.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.2
jupyterlab-widgets==1.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==23.4.0
kiwisolver==1.3.1
langcodes==1.4.1
lazy-object-proxy==1.6.0
libarchive-c==2.9
llvmlite==0.37.0
locket==0.2.1
lxml==4.7.1
marisa-trie==0.7.5
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mock==4.0.3
more-itertools==8.12.0
mpmath==1.2.1
msgpack==1.0.2
multipledispatch==0.6.0
multiprocess==0.70.11.1
munkres==1.1.4
murmurhash==1.0.5
mypy-extensions==0.4.3
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.6.5
nose==1.3.7
notebook==6.4.6
numba==0.54.1
numexpr==2.8.1
numpy==1.17.2
numpydoc==1.1.0
olefile==0.46
opencv-python==4.5.1.48
openpyxl==3.0.9
opt-einsum==3.1.0
packaging==21.3
pandas==1.2.4
pandocfilters==1.4.3
parso==0.7.0
partd==1.2.0
path==16.2.0
pathlib2==2.3.6
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.2
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pkginfo==1.7.1
plac==0.9.6
platformdirs==2.4.0
pluggy==1.0.0
ply==3.11
poyo==0.5.0
preshed==3.0.5
prometheus-client==0.12.0
prompt-toolkit==3.0.20
protobuf==3.9.2
psutil==5.8.0
ptan==0.7
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.21
pycrypto==2.6.1
pycurl==7.44.1
pydocstyle==6.1.1
pyerfa==2.0.0
pyflakes==2.2.0
pyglet==1.5.0
Pygments==2.10.0
pylint==2.12.2
pyls-black==0.4.6
pyls-spyder==0.3.2
pyodbc===4.0.0-unsupported
pyOpenSSL==21.0.0
pyparsing==3.0.4
pyrsistent==0.18.0
PySocks==1.7.1
pytest==6.2.5
python-dateutil==2.8.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-slugify==5.0.2
pytz==2021.3
PyWavelets==1.1.1
pyxdg==0.27
PyYAML==6.0
pyzmq==22.3.0
QDarkStyle==3.0.2
qstylizer==0.1.10
QtAwesome==1.0.3
qtconsole==5.1.1
QtPy==1.10.0
regex==2021.11.2
requests==2.27.1
rope==0.21.1
Rtree==0.9.7
ruamel-yaml-conda==0.15.100
s3transfer==0.5.0
sacremoses==0.0.43
scikit-image==0.18.3
scikit-learn==0.24.1
scipy==1.7.3
seaborn==0.11.2
SecretStorage==3.3.1
Send2Trash==1.8.0
sentence-transformers==1.0.3
sentencepiece==0.1.91
simplegeneric==0.8.1
singledispatch==3.7.0
six==1.16.0
smart-open==1.8.0
snakeviz==2.1.0
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
soupsieve==2.3.1
spacy==2.2.3
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
spyder==5.0.5
spyder-kernels==2.0.5
SQLAlchemy==1.4.27
srsly==1.0.5
statsmodels==0.12.2
sympy==1.9
tables==3.6.1
tblib==1.7.0
tensorboard==2.0.0
tensorflow-estimator==2.0.0
tensorflow-gpu==2.0.0
termcolor==1.1.0
terminado==0.9.4
testpath==0.5.0
text-unidecode==1.3
textdistance==4.2.1
thinc==7.3.0
threadpoolctl==2.2.0
three-merge==0.1.1
tifffile==2020.10.1
tinycss==0.4
tokenizers==0.10.1
toml==0.10.2
toolz==0.11.2
torch==1.10.1
torchaudio==0.10.1
torchsummary==1.5.1
torchtext==0.4.0
torchvision==0.11.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
transformers==4.16.2
typed-ast==1.4.3
typing-extensions==3.10.0.2
ujson==4.2.0
umap-learn==0.3.10
unicodecsv==0.14.1
Unidecode==1.2.0
urllib3==1.26.7
wasabi==0.8.2
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
whichcraft==0.6.1
widgetsnbextension==3.5.1
wordfreq==2.2.1
wrapt==1.13.3
wurlitzer==3.0.2
xlrd==2.0.1
XlsxWriter==3.0.2
xlwt==1.3.0
yapf==0.31.0
zict==2.0.0
zipp==3.7.0
zope.event==4.5.0
zope.interface==5.4.0
